{{ define "main" }}

<section class="sponsors section bg-sponsors overlay-white">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <p>{{ .Content }}</p>
        </div>
      </div>
    </div>
    {{ with site.Data.homepage.sponsors }}
    <div class="row">
      <div class="col-12">
        {{range .sponsor_group }}
        <!-- Title -->
        <div class="sponsor-title text-center">
          <h5>{{ .name | markdownify }}</h5>
        </div>
        <div class="block text-center">
          <!-- Sponsors image list -->
          <ul class="list-inline sponsors-list">
            {{ range .sponsor_item }}
            <li class="list-inline-item">
              <div class="image-block text-center">
                <a href="{{ .link | safeURL }}">
                  <img src="{{ .logo | absURL }}" alt="{{.name}}" class="img-fluid">
                </a>
              </div>
            </li>
            {{ end }}
          </ul>
        </div>
        {{ end }}
        {{ if .button.enable }}
        {{ with .button }}
        <div class="sponsor-btn text-center">
          <a href="{{ .link | absURL }}" class="btn btn-main-md">{{.label}}</a>
        </div>
        {{ end }}
        {{ end }}
      </div>
    </div>
    {{ end }}
  </div>
</section>

{{ end }}
