:root {
    --default-header-size: 96px;
    --small-header-size: 36px;
}

header {
    background-color: #006ab3;
}

header h1 {
    margin: 0;
    font-size: var(--default-header-size);
    text-align: center;
    color: white;
}

header a {
    text-decoration: none;
}

header img {
    display: grid;
    justify-content: center;
    width: 100%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
