@font-face {
    font-family: "Poppins";
    src: url("/assets/fonts/Poppins-Regular.ttf") format("truetype");
}

html {
    font-family: "Poppins", "Sans-Serif";
}

body {
    margin: 0;
}

section {
    display: grid;
    justify-content: center;
}

section h2 {
    text-align: center;
}
