{{ if site.Data.homepage.tab.enable }}
{{ with site.Data.homepage.tab }}
<section class="section schedule">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <h3>{{.title | markdownify}}</h3>
          <p>{{ .content | markdownify }}</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="schedule-tab">
          <ul class="nav nav-pills text-center">
            {{ range $i,$p:= .tablist }}
            <li class="nav-item">
              <a class="nav-link {{if eq $i 0}} active {{end}}" href="#{{.name|urlize}}" data-toggle="pill">
                {{.name}}
                <span>{{ .date | markdownify}}</span>
              </a>
            </li>
            {{ end }}
          </ul>
        </div>
	<div class="schedule-contents">
          <div class="tab-content" id="pills-tabContent">
            {{ range $i,$p:= .tablist }}
            <div class="tab-pane fade {{if eq $i 0}}show active{{end}} schedule-item" id="{{.name | urlize}}">
	      <div class="grid-schedule">
		<header id="time-header">Time</header>
		<header>Room 1</header>
		<header>Room 2</header>
		<header>Room 3</header>
		<header>Room 4</header>
		<header>Room 5</header>
		<header>Exhibit Hall 2</header>

		<div class="hour" style="grid-row: 2/14">9:00</div>
		<div class="hour" style="grid-row: 14/26">10:00</div>
		<div class="hour" style="grid-row: 26/38">11:00</div>
		<div class="hour" style="grid-row: 38/50">12:00</div>
		<div class="hour" style="grid-row: 50/62">13:00</div>
		<div class="hour" style="grid-row: 62/74">14:00</div>
		<div class="hour" style="grid-row: 74/86">15:00</div>
		<div class="hour" style="grid-row: 86/98">16:00</div>
		<div class="hour" style="grid-row: 98/110">17:00</div>
		<div class="hour" style="grid-row: 110/122">18:00</div>

		{{ $rows_per_hour := 12 }}
		{{ $start_hour := 9 }}
		{{ $end_hour := 18 }}

		{{ range .tablist_items }}
		{{ $times := findRESubmatch `((\d+):(\d+))[^\d]*((\d+):(\d+))` .time }}
		{{ $start_row := index (findRE `^\d+` .time) 0 | int}}
		{{ $start_row := cond (lt $start_row $start_hour ) (add $start_row 12) $start_row }}
		{{ $start_row := sub $start_row $start_hour }}
		{{ $start_row := add $start_row (div (index (findRE `:(\d+)` .time) 0 | last 2 | float) 60) }}

		{{ $start_row := add (mul $start_row $rows_per_hour) 2 | math.Round }}

		{{ $start_row := add (mul (add (sub .start_hour $start_hour) (div .start_minute 60.0)) $rows_per_hour) 2 }}
		{{ $end_row := add (mul (add (sub .end_hour $start_hour) (div .end_minute 60.0)) $rows_per_hour) 2 }}

		<div class="schedule-entry" style="grid-row: {{ $start_row }}/{{ $end_row }}; grid-column: {{ if eq .column -1 }}2/7{{ else }}{{ .column }}{{ end }}">
		  <div class="speaker-name">{{ .speaker }}</div>
		  <div class="talk-subject">{{ .subject }}</div>
		  <div class="talk-time">{{ .time }}</div>
		</div>
		{{ end }}
	      </div>
	    </div>
	    {{ end }}
	  </div>
	</div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
